@font-face{
  font-family: "h";
  src: url("fonts/h.ttf");
  
}
@font-face{
  font-family: "hb";
  src: url("fonts/hbold.ttf");
  
}

@font-face{
  font-family: "h1";
  src: url("fonts/h1.ttf");
  
}
@font-face{
  font-family: "h1b";
  src: url("fonts/h1bold.ttf");
  
}
@font-face{
  font-family: "mi";
  src: url("fonts/mi.ttf");
  
}

@font-face{
  font-family: "miami";
  src: url("fonts/miami.ttf");
  
}
@font-face{
  font-family: "spk";
  src: url("fonts/southp.ttf");
  
}
@font-face{
  font-family: "sps";
  src: url("fonts/simpsons.ttf");
  
}

@font-face{
  font-family: "term";
  src: url("fonts/term.ttf");
  
}






